---
	import Layout from '../layouts/Layout.astro';
	import About from '../components/About.astro';
	import Contact from '../components/Contact.astro';
	import Footer from '../components/Footer.astro';
	import Header from '../components/Header.astro';
	import Projects from '../components/Projects.astro';
	import Expertise from '../components/Expertise.astro';
	import ScrollToTop from '../components/ScrollToTop.astro';
	import Cursor from '../components/Cursor.astro';
---
<Layout title="Carlos's Portfolio">
	<Header />
	<main>
		<About />
		<Projects />
		<Expertise />
		<Contact />
	</main>
	<Footer />
	<ScrollToTop />
	<Cursor />
</Layout>

