---

---

<div class="about center">
    <h1 class="translate" data-translate-key="greetings">Hi, I am <span class="about__name translate" data-translate-key="myname">Carlos Azócar</span>.</h1>
    <h2 class="about__role translate" data-translate-key="specialty">A Full-Stack Developer.</h2>
    <p class="about__desc translate" data-translate-key="aboutme">
      Independent and proactive. I develop with dedication, breathing life into each line of code with care, commitment, and enthusiasm.
    </p>

    <div class="about__contact center">
      <a class="btn btn--outline translate btn--download-cv" data-translate-key="cv">
        Download CV
      </a>

      <a
        href="https://github.com/carloooh"
        aria-label="github"
        class="link link--icon"
        target="_blank"
      >
        <i aria-hidden="true" class="fab fa-github"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/carlos-iah/"
        aria-label="linkedin"
        class="link link--icon"
        target="_blank"
      >
        <i aria-hidden="true" class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>

  <style>
    .btn--download-cv, .fa-github , .fa-linkedin, .about__contact center {
      cursor: none;
    }

    .fa-github:hover,
    .fa-linkedin:hover {
      cursor: none;
    }
  </style>