---

---

<div class="about center">
    <h1 class="translate" data-translate-key="greetings">Hi, I am <span class="about__name translate" data-translate-key="myname">Carlos Azócar</span>.</h1>
    <h2 class="about__role translate" data-translate-key="specialty">A Front end Developer.</h2>
    <p class="about__desc translate" data-translate-key="aboutme">
      A Back end Developer.
    </p>

    <div class="about__contact center">
      <a href="https://example.com" target="_blank">
        <span class="btn btn--outline">CV</span>
      </a>

      <a
        href="https://github.com/carloooh"
        aria-label="github"
        class="link link--icon"
        target="_blank"
      >
        <i aria-hidden="true" class="fab fa-github"></i>
      </a>

      <a
        href="https://linkedin.com/in/carloooh"
        aria-label="linkedin"
        class="link link--icon"
        target="_blank"
      >
        <i aria-hidden="true" class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>