---

---

<section class="section expertise" id="expertise">
  <h2 class="section__title translate" data-translate-key="expertise" >Expertise</h2>
    <ul class="expertise__list">
      <li class="expertise__list-item btn btn--plain">HTML</li>
      <li class="expertise__list-item btn btn--plain">CSS</li>
      <li class="expertise__list-item btn btn--plain">Python</li>
      <li class="expertise__list-item btn btn--plain">JavaScript</li>
      <li class="expertise__list-item btn btn--plain">TypeScript</li>
      <li class="expertise__list-item btn btn--plain">React</li>
      <li class="expertise__list-item btn btn--plain">Django</li>
      <li class="expertise__list-item btn btn--plain">Git / GitHub</li>
      <li class="expertise__list-item btn btn--plain">REST</li>
      <li class="expertise__list-item btn btn--plain">Node</li>
      <li class="expertise__list-item btn btn--plain">SQL</li>
      <li class="expertise__list-item btn btn--plain">Keras</li>
      <li class="expertise__list-item btn btn--plain">Pandas</li>
      <li class="expertise__list-item btn btn--plain">Scikit-Learn</li>
    </ul>
</section>