---

---
  
  <section class="section experience flex items-center justify-center" id="experience">
    <div class="bg-light-shadow rounded p-8 max-w-4xl w-full">
      <h2 class="section__title mb-4 translate" data-translate-key="experience">Experience</h2>
  
      <div class="experience-item mb-4 flex items-center justify-center">
        <div>
          <img src="/duocuclogo.png" alt="Logo DUOC UC" class="w-32 h-32 object-center object-cover mb-4">
          <h4 class="text-xl mb-2 text-primary">DUOC UC</h4>
          <p class="text-secondary mb-2 translate" data-translate-key="expduoctitle">Professional Internship: Developer</p>
          <p class="text-secondary mb-2 translate" data-translate-key="expduocdate">September 2023 - December 2023</p>
          <p class="text-secondary mb-2 translate" data-translate-key="expduocabout">Development of a web management system for documents and resources.</p>
          <p class="text-secondary mb-2 translate" data-translate-key="expduocdesc">The implementation of the web system brought the following benefits to the company: efficient task automation, remote access to information, centralization and organization of resources, data security, and improvement in data-driven decision-making.</p>
          <p class="text-secondary mb-2">Django - Python - Tailwind CSS - JS - HTML</p>
        </div>
      </div>
  
      <hr class="my-4 border-t border-divider white">
      <br><br>
      <div class="experience-item flex items-center justify-center">
        <div>
          <img src="/tvcostalogo.png" alt="Logo TV Costa" class="w-32 h-32 object-center object-cover mb-4">
          <h4 class="text-xl mb-2 text-primary">TV Costa</h4>
          <p class="text-secondary mb-2 translate" data-translate-key="exptvtitle">Work Placement: Developer</p>
          <p class="text-secondary mb-2 translate" data-translate-key="exptvdate">February 2023 - March 2023</p>
          <p class="text-secondary mb-2 translate" data-translate-key="exptvabout">Maintenance, error correction, and implementation of new functionalities for the company's website.</p>
          <p class="text-secondary mb-2 translate" data-translate-key="exptvdesc">Website maintenance, error fixes, and enhancements yielded notable improvements for the company, ensuring a secure, efficient, and feature-rich online environment.</p>
          <p class="text-secondary mb-2">Wordpress - PHP</p>
        </div>
      </div>
    </div>
  </section>

  <style>
    .experience-item img {
        width: 33%;
        object-fit: contain;
        max-height: 100px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  </style>