---
---

<section
  class="section experience flex items-center justify-center"
  id="experience"
>
  <div class="bg-light-shadow rounded p-8 max-w-4xl w-full">
    <h2 class="section__title mb-4 translate" data-translate-key="experience">
      Experience
    </h2>

    <div class="experience-item mb-4 flex items-center justify-center">
      <div>
        <img
          src="/municipalidadlogo.png"
          alt="Logo Municipalidad El Quisco"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">Municipalidad El Quisco</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p
            class="text-secondary translate"
            data-translate-key="expmunicipalidadtitle"
          >
            Lead Software Developer
          </p>
          |
          <p
            class="text-secondary translate"
            data-translate-key="expmunicipalidaddate"
          >
            August 2024 - Present
          </p>
        </div>
        <p
          class="text-secondary mb-2 translate"
          data-translate-key="expmunicipalidaddesc"
        >
          Designed, developed, and automated various custom web platforms and
          critical administrative processes through self-managed solutions,
          reducing manual operation times.
          <br /><br />
          Led the migration of legacy systems to modern technologies, optimizing
          maintainability and ensuring service continuity.
          <br /><br />
          Independently managed the infrastructure, handling servers, databases,
          application deployments, and implementing strict cybersecurity, access
          control, and backup policies.
          <br /><br />
          Managed the full lifecycle of IT projects, covering technical planning,
          development, end-user training, and post-implementation support.
          <br /><br />
          Led development efforts and coordinated the assigned technical team to
          ensure the successful execution of the institution’s internal projects.
        </p>
        <p class="text-secondary mb-2">
          Next.js - Docker - SQL Server - TS - Tailwind CSS - HTML - Ubuntu
        </p>
      </div>
    </div>

    <hr class="my-4 border-t border-divider white" />
    <br /><br />

    <div class="experience-item mb-4 flex items-center justify-center">
      <div>
        <img
          src="/duocuclogo.png"
          alt="Logo DUOC UC"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">DUOC UC</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p class="text-secondary translate" data-translate-key="expduoctitle">
            Professional Internship: Full Stack Developer
          </p>
          |
          <p class="text-secondary translate" data-translate-key="expduocdate">
            September 2023 - December 2023
          </p>
        </div>
        <p
          class="text-secondary mb-2 translate"
          data-translate-key="expduocdesc"
        >
          Managed a software development project using the Scrum methodology.<br
          /><br />
          Developed a full-stack web application with relational database design
          and implementation.<br /><br />
          Implemented automations that reduced operational times by up to 99%, improving
          the security, consistency, and availability of information.
        </p>
        <p class="text-secondary mb-2">
          Django - Python - Tailwind CSS - JS - HTML
        </p>
      </div>
    </div>

    <hr class="my-4 border-t border-divider white" />
    <br /><br />
    <div class="experience-item flex items-center justify-center">
      <div>
        <img
          src="/tvcostalogo.png"
          alt="Logo TV Costa"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">TV Costa</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p class="text-secondary translate" data-translate-key="exptvtitle">
            Work Internship: Web Developer
          </p>
          |
          <p class="text-secondary translate" data-translate-key="exptvdate">
            February 2023 - March 2023
          </p>
        </div>
        <p class="text-secondary mb-2 translate" data-translate-key="exptvdesc">
          Performed maintenance, bug fixing, and implementation of new features
          for the institutional website, improving the user experience.<br /><br
          />
          Developed an Android mobile application to strengthen the company’s digital
          presence.<br /><br />
          Managed the creation of website backups, ensuring service continuity and
          efficient error resolution.
        </p>
        <p class="text-secondary mb-2">Wordpress - PHP</p>
      </div>
    </div>
  </div>
</section>

<style>
  .experience-item img {
    width: 33%;
    object-fit: contain;
    max-height: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
