---

---

<section class="section expertise" id="expertise">
  <h2 class="section__title translate" data-translate-key="expertise">
    Expertise
  </h2>
  <ul class="expertise__list">
    <li class="expertise__list-item btn btn--plain">HTML</li>
    <li class="expertise__list-item btn btn--plain">CSS</li>
    <li class="expertise__list-item btn btn--plain">Tailwind CSS</li>
    <li class="expertise__list-item btn btn--plain">Python</li>
    <li class="expertise__list-item btn btn--plain">JavaScript</li>
    <li class="expertise__list-item btn btn--plain">TypeScript</li>
    <li class="expertise__list-item btn btn--plain">Django</li>
    <li class="expertise__list-item btn btn--plain">Node.js</li>
    <li class="expertise__list-item btn btn--plain">React.js</li>
    <li class="expertise__list-item btn btn--plain">Docker</li>
    <li class="expertise__list-item btn btn--plain">Next.js</li>
    <li class="expertise__list-item btn btn--plain">Astro</li>
    <li class="expertise__list-item btn btn--plain">Express</li>
    <li class="expertise__list-item btn btn--plain">API RESTful</li>
    <li class="expertise__list-item btn btn--plain">SQL / NoSQL</li>
    <li class="expertise__list-item btn btn--plain">Git / GitHub</li>
  </ul>
</section>
