---

---

<section class="section expertise" id="expertise">
  <h2 class="section__title translate" data-translate-key="expertise" >Expertise</h2>
    <ul class="expertise__list">
      <li class="expertise__list-item btn btn--plain">HTML</li>
      <li class="expertise__list-item btn btn--plain">CSS</li>
      <li class="expertise__list-item btn btn--plain">SCSS</li>
      <li class="expertise__list-item btn btn--plain">JavaScript</li>
      <li class="expertise__list-item btn btn--plain">TypeScript</li>
      <li class="expertise__list-item btn btn--plain">React</li>
      <li class="expertise__list-item btn btn--plain">Redux</li>
      <li class="expertise__list-item btn btn--plain">Git</li>
      <li class="expertise__list-item btn btn--plain">Material UI</li>
      <li class="expertise__list-item btn btn--plain">Jest</li>
      <li class="expertise__list-item btn btn--plain">Enzyme</li>
      <li class="expertise__list-item btn btn--plain">CI/CD</li>
    </ul>
</section>