---

---

<section
  class="section experience flex items-center justify-center"
  id="experience"
>
  <div class="bg-light-shadow rounded p-8 max-w-4xl w-full">
    <h2 class="section__title mb-4 translate" data-translate-key="experience">
      Experience
    </h2>

    <div class="experience-item mb-4 flex items-center justify-center">
      <div>
        <img
          src="/municipalidadlogo.png"
          alt="Logo Municipalidad El Quisco"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">Municipalidad El Quisco</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p
            class="text-secondary translate"
            data-translate-key="expmunicipalidadtitle"
          >
            Software Engineer / Development Lead
          </p>
          |
          <p
            class="text-secondary translate"
            data-translate-key="expmunicipalidaddate"
          >
            August 2024 - Present
          </p>
        </div>
        <p
          class="text-secondary mb-2 translate"
          data-translate-key="expmunicipalidaddesc"
        >
          Designed, developed, and automated custom web platforms and critical
          administrative processes, significantly reducing manual workloads and
          improving operational efficiency.

          <br /><br />
          Led the modernization and migration of legacy systems to modern technologies,
          improving maintainability, scalability, and long-term service reliability.

          <br /><br />
          Managed infrastructure and deployments, including servers, databases, cybersecurity
          policies, access control, backups, and application monitoring.
          <br /><br />
          Oversaw the full software development lifecycle, from technical planning
          and implementation to user training and post-deployment support.

          <br /><br />
          Coordinated development initiatives and collaborated with technical staff
          to successfully deliver internal digital transformation projects.
        </p>
        <p class="text-secondary mb-2">
          Next.js - Docker - SQL Server - TS - Tailwind CSS - HTML - Ubuntu
        </p>
      </div>
    </div>

    <hr class="my-4 border-t border-divider white" />
    <br /><br />

    <div class="experience-item mb-4 flex items-center justify-center">
      <div>
        <img
          src="/duocuclogo.png"
          alt="Logo DUOC UC"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">DUOC UC</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p class="text-secondary translate" data-translate-key="expduoctitle">
            Full Stack Developer (Internship)
          </p>
          |
          <p class="text-secondary translate" data-translate-key="expduocdate">
            September 2023 - December 2023
          </p>
        </div>
        <p
          class="text-secondary mb-2 translate"
          data-translate-key="expduocdesc"
        >
          Managed and coordinated a software development project using the SCRUM
          methodology<br /><br />
          Developed a full-stack web application, including relational database design,
          backend implementation, and frontend development.
          <br /><br />
          Implemented automation solutions that reduced operational times by up to
          99% while improving data consistency, security, and accessibility.
        </p>
        <p class="text-secondary mb-2">
          Django - Python - Tailwind CSS - JS - HTML
        </p>
      </div>
    </div>

    <hr class="my-4 border-t border-divider white" />
    <br /><br />
    <div class="experience-item flex items-center justify-center">
      <div>
        <img
          src="/tvcostalogo.png"
          alt="Logo TV Costa"
          class="w-32 h-32 object-center object-cover mb-4"
          loading="lazy"
        />
        <h4 class="text-2xl mb-2 text-primary">TV Costa</h4>
        <div class="flex items-center gap-2 text-lg mb-2 font-medium">
          <p class="text-secondary translate" data-translate-key="exptvtitle">
            Web Developer (Internship)
          </p>
          |
          <p class="text-secondary translate" data-translate-key="exptvdate">
            February 2023 - March 2023
          </p>
        </div>
        <p class="text-secondary mb-2 translate" data-translate-key="exptvdesc">
          Maintained and improved the institutional website by fixing bugs,
          implementing new features, and enhancing overall user experience.<br
          /><br />Developed an Android mobile application to expand the
          company’s digital presence and accessibility<br /><br />Managed backup
          processes and recovery procedures, ensuring service continuity and
          faster issue resolution.
        </p>
        <p class="text-secondary mb-2">Wordpress - PHP</p>
      </div>
    </div>
  </div>
</section>

<style>
  .experience-item img {
    width: 33%;
    object-fit: contain;
    max-height: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
