---

---

<section id="extras" class="section extras">
    <h2 class="section__title translate" data-translate-key="extra" >Extra</h2>

    <div class="extras__grid">
        
      <div class="extra">
        <h3 class="translate" data-translate-key="extra1">Full Stack JS Course</h3>
        <p class="extra__description translate" data-translate-key="extra1desc">
            I'm currently enrolled in the certified Full Stack Open online course, which is based on JavaScript and offered by the University of Helsinki.
        </p>
        <ul class="extra__stack">
          <li class="extra__stack-item">JS</li>
          <li class="extra__stack-item">Node.js</li>
          <li class="extra__stack-item">MongoDB</li>
          <li class="extra__stack-item">GraphSQL</li>
          <li class="extra__stack-item">TS</li>
        </ul>
        <a
          href="https://github.com/Carloooh/full-Stack-open-2024"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/bbbd75d3c08710277d401c633bfee065"
          aria-label="view certificate"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
        <a download href="/certificate_fullstackopen_Carlos_Azocar.png" aria-label="Download certificate" class="link link--icon">
          <i aria-hidden="true" class="fas fa-download"></i>
        </a>
      </div>

      <div class="extra">
        <h3 class="translate" data-translate-key="extra2">Real-Time Chat Course</h3>
        <p class="extra__description translate" data-translate-key="extra2desc">
            I completed a Full Stack project following a real-time chat course akin to Messenger, which enabled me to delve into Front-End, Back-End, Authentication with other platforms, as well as real-time features such as user status and messaging.
        </p>
        <ul class="extra__stack">
          <li class="extra__stack-item">Next.js</li>
          <li class="extra__stack-item">Pusher</li>
          <li class="extra__stack-item">Prisma</li>
          <li class="extra__stack-item">MongoDB</li>
          <li class="extra__stack-item">NextAuth</li>
        </ul>
      </div>

    </div>
  </section>
