---

---

<footer class="footer translate" data-translate-key="footer" >
    <a
      href="https://github.com/rajshekhar26/cleanfolio-minimal"
      class="link footer__link"
    >
      Created By Carlos Azócar
    </a>
</footer>