---

---

<section id="projects" class="section projects">
    <h2 class="section__title translate" data-translate-key="projects" >Projects</h2>

    <div class="projects__grid">
      <div class="project">
        <h3 class="translate" data-translate-key="project1">YouTube Media Downloader</h3>
        <p class="project__description translate" data-translate-key="project1desc">
          YouTube media downloader created with Next.js and ytdl-core.
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">TS</li>
          <li class="project__stack-item">React</li>
          <li class="project__stack-item">Next.js</li>
        </ul>

        <a
          href="https://github.com/Carloooh/ytdownloader"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://yt-media-download.vercel.app/"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>

      <div class="project">
        <h3 class="translate" data-translate-key="project2">Tetris</h3>
        <p class="project__description translate" data-translate-key="project2desc">
          Tetris created with vanilla JavaScript.
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">JS</li>
          <li class="project__stack-item">Vite</li>
          <li class="project__stack-item">CSS</li>
        </ul>

        <a
          href="https://github.com/Carloooh/tetris"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://tetris-vjs.vercel.app/"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>

      <div class="project">
        <h3 class="translate" data-translate-key="project3">URL Shortener</h3>
        <p class="project__description translate" data-translate-key="project3desc">
          URL Shortener that uses my own API created with Express and MongoDB.
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">Astro</li>
          <li class="project__stack-item">Express</li>
          <li class="project__stack-item">MongoDB</li>
        </ul>

        <a
          href="https://github.com/Carloooh/urlshortener"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://shortsurls.vercel.app/"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>
    </div>
  </section>
