---

---

<section id="projects" class="section projects">
    <h2 class="section__title translate" data-translate-key="projects" >Projects</h2>

    <div class="projects__grid">
      <div class="project">
        <h3 class="translate" data-translate-key="project1">YouTube Media Downloader</h3>
        <p class="project__description translate" data-translate-key="project1desc">
          YouTube media downloader created with Next.js and ytdl-core.
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">TS</li>
          <li class="project__stack-item">React</li>
          <li class="project__stack-item">Next.js</li>
        </ul>

        <a
          href="https://github.com/Carloooh/ytdownloader"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://ytdownloader-rosy.vercel.app/"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>

      <div class="project">
        <h3 class="translate" data-translate-key="project2">Project 2</h3>
        <p class="project__description translate" data-translate-key="project2desc">
          Project 2
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">?</li>
          <li class="project__stack-item">??</li>
          <li class="project__stack-item">???</li>
        </ul>

        <a
          href="https://github.com/Carloooh"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://example.com"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>

      <div class="project">
        <h3 class="translate" data-translate-key="project3">Project 3</h3>
        <p class="project__description translate" data-translate-key="project3desc">
          Project 3
        </p>
        <ul class="project__stack">
          <li class="project__stack-item">?</li>
          <li class="project__stack-item">??</li>
          <li class="project__stack-item">???</li>
        </ul>

        <a
          href="https://github.com/Carloooh"
          aria-label="source code"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
          href="https://example.com"
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>
    </div>
  </section>
